<html lang="en">

<head>
  <title>Deep learning</title>
  <link rel="shortcut icon" type="image/png" href="../static/favicon.ico"/>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="jumbotron text-center" style="color: white; background-image: url('../static/header.jpg'); background-color: blanchedalmond;padding: 1px;">
    <h1>Welcome to the Machine Learning</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Please select any of the link below:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      </div>
      <ul>
        <li><a class="btn btn-lg" href='/image_prediction' title="Click Me">Image Classifier for Dog and Cat Only</a></li>
        <li><a class="btn btn-lg" href='/digit_recognizer' title="Click Me">Digit Recognizer</a></li>
        <li><a class="btn btn-lg" href='/cloth_recognizer' title="Click Me">Cloth Recognizer</a></li>
        <li><a class="btn btn-lg" href='/face_extractor' title="Click Me">Face Extractor</a></li>
        <li><a class="btn btn-lg" href='/face_recognizer' title="Click Me">Face Recognizer</a></li>
        <li><a class="btn btn-lg" href='/nlp_sentiment' title="Click Me">Face Recognizer</a></li>
      </ul>
    </div>
  </div>
</body>

</html>